<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="http://joewiz.org/ns/apps/exist-cjk" abbrev="@project.app@" version="@project.version@" spec="1.0">
    <title>eXist CJK</title>
    <dependency package="http://exist-db.org/apps/markdown"/>
    <dependency processor="http://exist-db.org" semver-min="3.5.0"/>
</package>
